In [1]:
import pandas as pd
import numpy as np

In [53]:
ratings = pd.read_csv('data/rating.csv', encoding= 'utf-8')
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [54]:
ratings = ratings.loc[ratings['rating'] != -1,:]
ratings.head()

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10
153        2     11771      10

In [31]:
len(ratings) #7.8 millones de entries (with rating: -1) & 6.33 millones (sin rating: -1)
len(ratings['user_id'].unique()) #73.515 usuarios  &  69600 usuarios (sin rating: -1)
ratings.groupby('user_id')['rating'].mean().mean() #mean rating for anime is 8.22
ratings.groupby('user_id')['rating'].agg(['count', 'mean', 'std'])

         count       mean       std
user_id
1            4  10.000000  0.000000
2            1  10.000000       NaN
3           92   7.565217  1.549933
5          459   4.355120  2.381293
7          343   7.387755  1.104786
...        ...        ...       ...
73512       12   8.583333  1.564279
73513       33   7.515152  1.227834
73514        1  10.000000       NaN
73515      179   8.547486  1.137577
73516        2   9.000000  0.000000

[69600 rows x 3 columns]

In [55]:
anime = pd.read_csv('data/anime.csv', encoding= 'utf-8')
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [66]:
anime.loc[anime['name'] == 'Gintama',:]

anime.loc[anime['name'].str.contains('Shingeki no', regex=False),:]

,anime_id,name,genre,type,episodes,rating,members
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
125,25781,Shingeki no Kyojin: Kuinaki Sentaku,"Action, Fantasy, Shoujo, Supernatural",OVA,2,8.45,92543
717,18397,Shingeki no Kyojin OVA,"Action, Drama, Fantasy, Shounen, Super Power",OVA,3,7.88,121063
920,21843,Shingeki no Bahamut: Genesis,"Action, Adventure, Demons, Fantasy, Magic, Sup...",TV,12,7.77,143701
961,23777,Shingeki no Kyojin Movie 2: Jiyuu no Tsubasa,"Action, Drama, Fantasy, Shounen, Super Power",Movie,1,7.75,26958
1069,23775,Shingeki no Kyojin Movie 1: Guren no Yumiya,"Action, Drama, Fantasy, Shounen, Super Power",Movie,1,7.70,31990
3533,19285,Shingeki no Kyojin: Ano Hi Kara,"Action, Drama, Fantasy, Shounen, Super Power",Special,1,6.96,49593
4090,19391,Shingeki no Kyojin Picture Drama,"Comedy, Parody",Special,9,6.81,26363
6221,28447,Shingeki no Bahamut: Genesis Recap,"Action, Adventure, Demons, Fantasy, Magic, Sup...",Special,1,6.21,6785
10899,25777,Shingeki no Kyojin Season 2,"Action, Drama, Fantasy, Shounen, Super Power",TV,Unknown,NaN,170054
10928,31537,Shingeki no Bahamut: Manaria Friends,"Action, Adventure, Demons, Fantasy, Magic, Sup...",TV,Unknown,NaN,9939
11076,30736,Shingeki no Bahamut: Virgin Soul,"Action, Adventure, Demons, Fantasy, Magic, Sup...",TV,24,NaN,20953

In [48]:
anime['type'].unique()

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan], dtype=object)

In [72]:
anime.loc[(anime['members'] > 1000) & (anime['type'] == 'Movie'),:].sort_values('rating', ascending= False).head(20)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1,8.81,339556
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297
33,28957,Mushishi Zoku Shou: Suzu no Shizuku,"Adventure, Fantasy, Historical, Mystery, Seine...",Movie,1,8.75,32266
35,431,Howl no Ugoku Shiro,"Adventure, Drama, Fantasy, Romance",Movie,1,8.74,333186
37,31757,Kizumonogatari II: Nekketsu-hen,"Action, Mystery, Supernatural, Vampire",Movie,1,8.73,34347
45,4282,Kara no Kyoukai 5: Mujun Rasen,"Action, Drama, Mystery, Romance, Supernatural,...",Movie,1,8.68,111074
55,4565,Tengen Toppa Gurren Lagann Movie: Lagann-hen,"Action, Mecha, Sci-Fi, Space, Super Power",Movie,1,8.64,82253
59,11577,Steins;Gate Movie: Fuka Ryouiki no Déjà vu,"Sci-Fi, Thriller",Movie,1,8.61,192424
60,10408,Hotarubi no Mori e,"Drama, Romance, Shoujo, Supernatural",Movie,1,8.61,197439
63,21899,Gintama: Yorinuki Gintama-san on Theater 2D,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,2,8.60,11104
65,7472,Gintama Movie: Shinyaku Benizakura-hen,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,8.59,51185
70,28805,Bakemono no Ko,"Adventure, Supernatural",Movie,1,8.58,80825
71,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
77,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658
81,18617,Girls und Panzer der Film,"Military, School",Movie,1,8.55,25641